@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Personal information</h1>
        </div>
        <div class="modal-body">
            <table class="table-bordered">
                <tbody>
                    <tr>
                        <td class="text-center">Full name</td>
                        <td class="text-center">Date of Birth</td>
                        <td class="text-center">Address</td>
                        <td class="text-center">Cell phone</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="text-center">Pola yohanna atalla</td>
                        <td rowspan="2" class="text-center">12 Sept 1995</td>
                        <td rowspan="2" class="text-center">St. Mahfouz East Railway, Luxor, Egypt</td>
                        <td rowspan="2" class="text-center">+201210956044</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

