@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Education</h1>
        </div>
        <div class="modal-body">
            <h2 class="text-center">
                Faculty of Computers and information
            </h2>
            <div class="text-center">
                <h3>Computer Science</h3>
                <h3> C average GPA</h3>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
