
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">
                More information 
            </h1>
        </div>
        <div class="modal-body">
            <ol style="list-style-type:armenian" class="list-group">
                <li class="list-group-item">
                    Personal skills
                    <ul style="list-style:none" class="list-group">
                        <li class="list-group-item">Self learner</li>
                        <li class="list-group-item">Hard worker</li>
                        <li class="list-group-item">Decision making</li>
                        <li class="list-group-item">Energetic</li>
                        <li class="list-group-item">work ethics</li>
                        <li class="list-group-item">Self-motivation</li>
                        <li class="list-group-item">work under stress and within a team</li>
                        <li class="list-group-item">Communication skills</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Experience
                    <ul style="list-style:none" class="list-group">
                        <li class="list-group-item">Faculty projects</li>
                        <li class="list-group-item">Practical projects and challenges</li>
                        <li class="list-group-item">
                            Working experince
                            <ul style="list-style:none" class="list-group">
                                <li class="list-group-item">Egypt Vip Travel Agency:Tour operator</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
            </ol>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>