
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Online presence - Links</h1>
        </div>
        <div class="modal-body">
            <table class="table-borderless table-hover">
                <tbody>
                    <tr>
                        <td class="text-center">E-mail</td>
                        <td colspan="2" class="text-center">polayohanna5@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="text-center">LinkedIn</td>
                        <td colspan="2" class="text-center">https://www.linkedin.com/in/polayohanna</td>
                    </tr>
                    <tr>
                        
                        <td class="text-center">Github</td>
                        <td colspan="2" class="text-center">https://github.com/pola1yohanna</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>